/* @import url('https://fonts.cdnfonts.com/css/netflix-font'); */

body {
    background: var(--background-color);
    color: var(--white-color);
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Netflix Sans', Arial, sans-serif;
}

.btn {
    background: transparent;
    border: transparent;
    cursor: pointer;
    border-radius: 5px;
}

/* reset le conteneur */
.daisyui-scope {
    all: unset;
}

/* reset tous les enfants, pour que DaisyUI applique ses styles uniquement ici */
.daisyui-scope * {
    all: unset;
}

@font-face {
    font-family: 'Netflix Sans';
    src: url('/fonts/NetflixSans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}